.vs/

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Environment
venv/
.env

# React
frontend/node_modules/
frontend/build/

# VS Code & Visual Studio
.vscode/
*.sln
*.user
*.pyproj

credentials.json
collectors/token.pickle


